body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;

}

h1{
    margin: 50px auto 0 auto;
    font-family: 'Indie Flower', cursive;
    font-size: 3.9rem;
    color: #66bfbf;
}

h2{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.5rem;
    color: #66bfbf;
    font-weight: normal;
}

h3{
    font-family: 'Space Grotesk', sans-serif;
    color: #11999e;
}

p{
    font-family: 'Space Grotesk', sans-serif;
}



/********************************************  Div  **************************************************/

.Top-container{
    background-color: #ddfdfc;
    position: relative;
    padding-top: 100px;
}

.middle-container{

}

.bottom-Container{

}

.pro{
    text-decoration: underline;
}

.bottom-cloud{
    position: absolute;
    bottom: 300px;
    left: 300px;
}

.top-cloud{
    position: absolute;
    right: 330px;
    top: 50px;
}

.myprofile{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.profile{
    text-align: center;
}